/* ------------------------------------
 * OS11-Light
 *
 * @author  HelloOSMe
 * @link    https://helloos.repl.co/
 * @update  2023-01-09
 * --------------------------------- */

/* ------------------
 * Global style
 * --------------- */
:root{
--text-color:#444;
}
 html{cursor:url('https://helloosdisk.wdfiles.com/local--files/file:cursor/arrow-sm.png'),auto;}
 @media (max-width: 1120px){

  body:before {
  content: "";
  background: url('https://cdn.luogu.com.cn/upload/image_hosting/bxq0pdud.png') no-repeat;
  background-size: cover contain;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  }
  }
   body {
    background-image: url('https://cdn.luogu.com.cn/upload/image_hosting/bxq0pdud.png') ;
    /*洛谷图床-win11背景-开花*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    color: var(--text-color);
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "PingFang SC","Microsoft Yahei","等线","华文细黑",serif;
    font-size: 87.5%;
  }
  .mobile-show{
    display:none;
  }
  a {
    color: #3498db;
    text-decoration: none;
    cursor:url('https://helloosdisk.wdfiles.com/local--files/file%3Acursor/link.png'),auto;
    transition:all 0.2s;
  }
  a:hover, a:active {
    color: #0056b3;
    transition:all 0.2s;
  }
  h1 a,h2 a{
    color:#555;
  }
  h1 a:hover,h2 a:hover{
    color:rgb(127, 127, 127);
  }
  pre, code { 
    background: #F3F3F3;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
    font-size: .92857em;
  }
  code { padding: 2px 4px; color: #B94A48; }
  pre {
    padding: 8px;
    overflow: auto;
    max-height: 400px;
  }
  pre code {
    padding: 3px;
    color: #444;
  }
  p{
    cursor:text;
  }
  blockquote {
    margin: 1em 0;
    padding-left: 1.5em;
    border-left: 4px solid #eee;
    font-family: sans-serif,serif,'Microsoft Yahei','PingFang SC';
    color: #666;
  }
  
  table {
    border: 1px solid #ddd;
    width: 100%;
  }
  table th,
  table td {
    padding: 5px 10px;
    border: 1px solid #eee;
  }
  table th {
    background: #f3f3f3;
  }
  hr{
    color:#fff;
    border-color:#fff;
    background-color: #fff;
    height: 1px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei","Microsoft Yahei", sans-serif;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  textarea {
    padding: 5px;
    border: 1px solid #E9E9E9;
    width: 100%;
  
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  textarea {
    resize: vertical;
  }

  /* ------------------
   * Header
   * --------------- */
  
  #header {
    margin-left: auto;
    padding-top: 0;
  }
  
  #logo {
    text-align:center;
    color: #333;
    font-size: 2em;
    float: left;
    display: inline-block;
    margin-right: 9px;
  }
  #logo img {
      max-height: 30px;
      border-radius:100%;
  }
  .description {
    margin: .5em 0 0;
    color: #999;
    font-style: italic;
  }
  .site-name {
    margin-top:3px;
  }
  /* Navigation menu */
  #nav-menu {
    position: fixed;
    margin: 0 0 0;
    word-wrap: break-word;
    padding: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);/*safari*/
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align:center;
    z-index: 2;
  }
  #nav-menu a {
    display: block;
    margin-right: 3px;
    padding: 0 20px;
    border-bottom: none;
    height: 32px;
    line-height: 32px;
    color: #444;
    float: left;
    display: inline-block;
    transition:all 0.25s ease;
  }
  #nav-menu a:hover{
    border-radius: 0.5em;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);/*safari*/
    box-shadow: 2px 2px 10px #888888;
    background: #ffffff00;
    transition:all 0.25s ease;
  }
  #nav-menu .current{
    border-radius: 0.5em;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);/*safari*/
    background: #0084ff;
    color:#eee;
  }
  #nav-menu .current:hover{
    box-shadow: 2px 2px 10px #888888;
    background: #0084ff;
    color:#eee;
    transition:all 0.25s ease;
  }
  .mobile-icon{
    display:none;
  }
  .change-theme{
      width: 35px;
      height: 35px;
      margin-left:10px;
      margin-top:7px;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);/*safari*/
      background: #ffffff77;
      box-shadow: 0.5px 0.5px 5px #888888;
      border-radius: 5px;
      position: fixed;
      z-index: 2;
  }
  .change-theme img{
      margin-left:2px;
      margin-top:2px;
  }
  /* Search */
  #search {
    position: relative;
    margin-top: auto;
    float: left;
    display: inline-block;
    margin-right: 20px;
  }
  #search input {
    padding-right: 30px;
    border-radius: 0.2em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);/*safari*/
    background-color: rgba(255, 255, 255, 0.7);
  }
  #search button {
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: transparent url(img/icon-search.png) no-repeat center center;
    direction: ltr; /* fix RTL language */
    text-indent: -9999em;
    border-radius: 0.2em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);/*safari*/
    background-color: rgba(255, 255, 255, 0.7);
  }
  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    #search button {
      background-image: url(img/icon-search@2x.png);
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      -o-background-size: 24px 24px;
      background-size: 24px 24px;
    }
  }
  
  
  /* ------------------
   * Main
   * --------------- */
  #main{
    box-shadow: 0.5px 0.5px 5px #888888;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 1em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);/*safari*/
    background-color: rgba(255, 255, 255, 0.7);
  }
  div#body{
    padding-top:1em;
  }
  .post {
    padding: 15px 0 20px;
    border-bottom: 1px solid #EEE;
  }
  .post-title {
    margin: .83em 0;
    font-size: 1.4em;
  }
  .post-meta {
    margin-top: -0.5em;
    padding: 0;
    color: #999;
    font-size: .92857em;
  }
  .post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
  }
  .post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }
  .post-content {
    line-height: 1.5;
  }
  .post .tags {
    clear: both;
  }
  
  .post-near {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    color: #999;
  }
  .post-near li {
    margin: 10px 0;
  }
  
  .archive-title {
    margin: 1em 0 -1em;
    padding-top: 20px;
    color: #999;
    font-size: 1em;
  }
  .more {
    text-align: center;
  }
  .more a {
    border: none;
  }
  .protected .text {
    width: 50%;
  }
  
  /* Page nav */
  
  .page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center;
  }
  .page-navigator li {
    display: inline-block;
    margin: 0 4px;
  }
  .page-navigator a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }
  .page-navigator a:hover {
    background: #EEE;
    text-decoration: none;
  }
  
  .page-navigator .current a {
    color: #444;
    background: #EEE;
  }
  
  /* ------------------
   * Comment list
   * --------------- */
  #comments {
    padding-top: 15px;
  }
  .comment-list, .comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .comment-list li {
    padding: 14px;
    margin-top: 10px;
    border: 1px solid #EEE;
  }
  .comment-list li.comment-level-odd {
    background: #F6F6F377;
  }
  .comment-list li.comment-level-even {
    background: #F6F6F377;
  }
  .comment-list li.comment-by-author {
    background: #FFF9E877;
  }
  .comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em;
  }
  .comment-meta a {
    color: #999;
    font-size: .92857em;
  }
  .comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
  }
  .comment-author .avatar {
    float: left;
    margin-right: 10px;
  }
  .comment-author cite {
    font-weight: bold;
    font-style: normal;
  }
  
  /* Comment reply */
  .comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #EEE;
  }
  .respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
  }
  #comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
  }
  #comment-form .required:after {
    content: " *";
    color: #C00;
  }
  
  /* ------------------
   * secondary
   * --------------- */
  #secondary {
    margin-left: auto;
    padding-top: 15px;
    box-shadow: 0.5px 0.5px 5px #888888;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 1em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);/*safari*/
    background-color: #ffffff77;
    display:block;
  }
  .widget {
    margin-bottom: 30px;
  }
  .widget-list {
    list-style: none;
    padding: 0;
  }
  .widget-list li {
    margin: 5px 0;
    line-height: 1.6;
  }
  
  .widget-list li ul {
    margin-left: 15px;
  }
  
  
  /* ------------------
   * Footer 
   * --------------- */
  #footer {
    padding: 3em 0;
    line-height: 1.5;
    text-align: center;
    color: #999;
    background: #232323;
    margin-top: 7px;
  }
  
  
  /* -----------------
   * Error page
   * -------------- */
  .error-page {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  
  /* -----------------
   * Content format
   *--------------- */
  .post-content, .comment-content {
    line-height: 1.5;
    word-wrap: break-word;
  }
  .post-content h2, .comment-content h2 {
    font-size: 1.28571em;
  }
  .post-content img, .comment-content img,
  .post-content video, .comment-content video {
    max-width: 100%;
  }
  .post-content a img,
  .comment-content a img {
    background: #FFF;
    position: relative;
    bottom: -4px;  /* hidden img parent link border  */
  }
  .post-content hr, .comment-content hr {
    margin: 2em auto;
    width: 100px;
    border: 1px solid #E9E9E9;
    border-width: 2px 0 0 0;
  }
  
  
  /* -----------------
   * Misc
   *--------------- */
  .aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  img.alignleft {
    margin: 0 15px 0 0;
  }
  img.alignright {
    margin: 0 0 0 15px;
  }
  
  
  /* -----------------
   * Responsive
   *--------------- */
  @media (max-width: 1000px){
    body {
      font-size: 81.25%;
    }
    #nav-menu a {
      float: left;
      display: inline-block;
      margin: 0 3px;
    }
    .mobile-icon{
      display:block;
      width: 35px;
      height: 35px;
      margin-left:10px;
      margin-top:7px;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);/*safari*/
      background: #ffffff77;
      box-shadow: 0.5px 0.5px 5px #888888;
      border-radius: 5px;
      position: fixed;
      z-index: 2;
    }
    .mobile-icon svg{
      margin-left:2px;
      margin-top:2px;
    }
    .mobile-show{
      display:block;
    }
    #secondary{
      display:none;
      border-radius: 0;
      top:0;
      bottom:0;
      overflow-y:scroll;
      overflow-x:hidden;
    }
    .change-theme{}
  }
  
  @media (max-width: 768px) {
    #header,
    .post-title,
    .post-meta {
      text-align: center;
    }
  }
  
  @media (min-width: 992px) {
  
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 952px;
    }
  }
  
  
  /*
  * Hide from both screenreaders and browsers: h5bp.com/u
  */
  .hidden {
    display: none !important;
    visibility: hidden; }
  
  /*
  * Hide only visually, but have it available for screenreaders: h5bp.com/v
  */
  .sr-only {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  
  /*
  * Extends the .sr-only class to allow the element to be focusable
  * when navigated to via the keyboard: h5bp.com/p
  */
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
  
  /*
  * Hide visually and from screenreaders, but maintain layout
  */
  .invisible {
    visibility: hidden; }
  /* selection*/
  ::selection{
      background: #0095ff60;
  }
  ::-moz-selection{
      background:#0095ff60;
  }
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background:#a5d4f477;
}
::-webkit-scrollbar-track{
    background:none;
}
::-webkit-scrollbar-thumb{
    background:#999;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:active{
    background:#777;
}
::-webkit-scrollbar-corner{
    background: none;
}
::-webkit-scrollbar-button{
    background:#999;
    width:8px;
    height:8px;
    border-radius:100%;
}
::-webkit-scrollbar-button:active{
    background:#777;
}